framework: .netstandard2.0

source https://api.nuget.org/v3/index.json

group TShockDependencies
  framework: net472

  source https://api.nuget.org/v3/index.json
  nuget StackExchange.Redis ~> 2.2
  nuget LrndefLib ~> 2.0
  nuget Scriban ~> 5.0

  http https://github.com/Pryaxis/TShock/releases/download/v4.5.12/TShock4.5.12_Terraria1.4.3.2.zip TShock/TShock.zip
